@model IEnumerable<ASP.NET.Model.RecipeEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.RecipeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFilePath)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.RecipeID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFilePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })

            </td>
        </tr>
}
    </tbody>
</table>
